{% load static %}

{% block content %}
<!-- Container Utama -->
    <div class="card">
        <div class="card-datatable table-responsive pt-0">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                <div class="card-header flex-column flex-md-row">
                    <div class="head-label text-center">
                        <h5 class="card-title mb-0">Chat Logs</h5>
                    </div>
                    <div class="dt-action-buttons text-end pt-6 pt-md-0">
                        <div class="dt-buttons btn-group flex-wrap">
                            <button class="btn btn-secondary create-new btn-primary waves-effect waves-light" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#add-new-record">
                                <span><i class="ti ti-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">Tambah Department</span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <table id="chatLogTable" class="datatables-basic table dataTable no-footer dtr-column display" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Session</th>
                            <th>Message</th>
                            <th>Emosi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

<script>    
    $(document).ready(function() {
        var button = '<button type="button" class="btn btn-label-danger">Danger</button>';
        var table = $('#chatLogTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{% url 'chat_list' %}",
                "type": "GET",
                "dataSrc": "data",
                "error": function(xhr, error, thrown) {
                    console.log('AJAX Error: ' + thrown);
                }
            },
            "columns": [
                { "data": "id" },
                { "data": "session" },
                { "data": "message" },
                {
                    "data": "emosi",
                    "orderable": false,
                    "searchable": false,
                    "render": function(data, type, row, meta) {
                        var colorClass = {
                            "Marah": "btn-label-danger",
                            "Senang": "btn-label-success",
                            "Sedih": "btn-label-primary",
                            "Takut": "btn-label-dark",
                            "Cinta": "btn-label-pink",
                            "Netral": "btn-label-secondary"
                        };

                        var emotion = data.split(" ")[0];
                        var btnClass = colorClass[emotion] || "btn-light"; 

                        return '<button type="button" class="btn ' + btnClass + ' btn-sm">' + emotion + '</button>';
                    }
                }
            ],
            "drawCallback": function(settings) {
                
            }
        });     
    });
</script>
{% endblock %}