{% extends "base.html" %}

{% load static %}

{% block title %}
  Ringkasan Teks
{% endblock %}

{% block content %}
{% comment %} <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Welcome </span> {{request.user.username}}</h4>
    <div class="row">
    </div>
</div> {% endcomment %}

<!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <!-- Full Editor -->
    <div class="col-12">
      <div class="card">
        <h5 class="card-header">Ringkasan Teks</h5>
        <div class="card-body">
          <div id="full-editor">
            <h6>Quill Rich Text Editor</h6>
            <p>
              Cupcake ipsum dolor sit amet. Halvah cheesecake chocolate bar gummi bears cupcake. Pie
              macaroon bear claw. Soufflé I love candy canes I love cotton candy I love.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Full Editor -->

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
  </div>
<!-- / Content -->
{% endblock %}