{% extends "base.html" %}

{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
{% comment %} <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Welcome </span> {{request.user.username}}</h4>
    <div class="row">
    </div>
</div> {% endcomment %}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">

  <div class="app-ecommerce">

    <div class="row">

      <!-- Second column -->
      <div class="col-12">
        <!-- Organize Card -->
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="card-title mb-0">Pemodelan Topik</h5>
          </div>
          <div class="card-body">
            <!-- Tags -->
            <div class="mb-3">
              <label for="ecommerce-product-tags" class="form-label mb-1">Topik</label>
              <input
                id="ecommerce-product-tags"
                class="form-control"
                name="ecommerce-product-tags"
                value="Normal,Standard,Premium"
                aria-label="Product Tags" />
            </div>
          </div>
        </div>
        <!-- /Organize Card -->
      </div>
      <!-- /Second column -->
    </div>
  </div>
</div>
<!-- / Content -->
{% endblock %}